.socialMediaNav {
    height: 100vh;
    width: 10vw;
    z-index: 99;
    border: 1px solid black;
    background-color: transparent;
    right: 0;
}
https://iili.io/HfuhpqX.jpg
https://iili.io/HfuhDXI.jpg
https://iili.io/HfuhQbp.jpg
https://iili.io/HfuhLeR.jpg
https://iili.io/Hfuhbst.jpg
https://iili.io/Hfuhy1n.jpg